## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_Database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Avarua,CK,-21.2078,-159.7750,80.65,65,92,9.22,overcast clouds
1,1,Salinopolis,BR,-0.6136,-47.3561,78.37,81,2,7.40,clear sky
2,2,Minas,UY,-34.3759,-55.2377,40.93,79,13,1.95,few clouds
3,3,Albany,US,42.6001,-73.9662,65.73,91,100,3.65,overcast clouds
4,4,East London,ZA,-33.0153,27.9116,75.56,30,100,12.46,overcast clouds
5,5,Barrow,US,71.2906,-156.7887,30.22,86,100,5.75,overcast clouds
6,6,Mataura,NZ,-46.1927,168.8643,46.47,87,99,12.53,overcast clouds
7,7,Klaksvik,FO,62.2266,-6.5890,47.32,91,98,13.18,overcast clouds
8,8,Launceston,AU,-41.4500,147.1667,52.61,54,5,1.14,clear sky
9,9,Ushuaia,AR,-54.8000,-68.3000,38.86,100,100,2.30,fog

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 60
What is the maximum temperature you would like for your trip? 95

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                      (city_data_df["Max Temp"] >= min_temp)]

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                461
City                   461
Country                461
Lat                    461
Lng                    461
Max Temp               461
Humidity               461
Cloudiness             461
Wind Speed             461
Current Description    461
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesnâ€™t have empty rows.

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Avarua,CK,80.65,overcast clouds,-21.2078,-159.7750,
1,Salinopolis,BR,78.37,clear sky,-0.6136,-47.3561,
3,Albany,US,65.73,overcast clouds,42.6001,-73.9662,
4,East London,ZA,75.56,overcast clouds,-33.0153,27.9116,
10,Victoria,HK,87.85,overcast clouds,22.2855,114.1577,
11,Los Llanos De Aridane,ES,65.95,overcast clouds,28.6585,-17.9182,
13,Semirom,IR,64.06,clear sky,31.4167,51.5667,
17,Bethel,US,67.62,broken clouds,41.3712,-73.4140,
18,Kinablangan,PH,84.99,overcast clouds,7.6947,126.5503,
19,Mandalgovi,MN,68.97,scattered clouds,45.7625,106.2708,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [87]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df[hotel_df["Hotel Name"]!= '']
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Avarua,CK,80.65,overcast clouds,-21.2078,-159.7750,Paradise Inn
1,Salinopolis,BR,78.37,clear sky,-0.6136,-47.3561,Salinas Park Resort MaÃ§arico AP101
4,East London,ZA,75.56,overcast clouds,-33.0153,27.9116,Tu Casa
10,Victoria,HK,87.85,overcast clouds,22.2855,114.1577,Mini Central
11,Los Llanos De Aridane,ES,65.95,overcast clouds,28.6585,-17.9182,Valle Aridane
13,Semirom,IR,64.06,clear sky,31.4167,51.5667,Motel Dena
17,Bethel,US,67.62,broken clouds,41.3712,-73.4140,Courtyard by Marriott Danbury
18,Kinablangan,PH,84.99,overcast clouds,7.6947,126.5503,Morales Eatery and Lodging House
19,Mandalgovi,MN,68.97,scattered clouds,45.7625,106.2708,Ð’.Ð“Ð°Ð½Ð±Ð°Ñ‚
20,Vaini,TO,82.56,smoke,-21.2000,-175.2000,Keleti Beach Resort

In [88]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [92]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [93]:
# 11a. Add a marker layer for each city to the map. 
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))